/* Ajustes para o Blockly UI no tema escuro */
.blocklyFlyoutBackground {
    fill: #1e293b !important;
  }
  .blocklyToolboxDiv {
    background-color: #0f172a !important;
    color: white !important;
  }